<footer class="myFooter">
	<p class="pInFooter">
	Aren_Blog - Сообшество разработчиков
	&copy 2018
	</p>
	<ul class="socialNetworksFooter">
	<li><a title="Facebook" href="#">
		<i class="fab fa-facebook-f"></i></a>
		</li>
		<li><a title="Вконтакте" href="#">
			<i class="fab fa-vk"></i></a>
		</li>
		<li><a title="Google" href="#">
			<i class="fab fa-google"></i></a>
		</li>
	</ul>
	
		<ul class="otziviUl">
			<li><a href="about.html">О проекте</a></li>
			<li><a href="">Лицензия</a></li>
			<li><a href="">00 - 56 - 256</a></li>
		</ul>



</footer>