{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1">
	<title>AREN - {{title}}</title>

	{% include 'home/include.html' %}

	<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" 
  crossorigin="anonymous">
</head>
<body>

	<div class="content">

{% include 'home/headerandlog.html' %}


{% include 'home/menuleft.html' %}


	<div id="allblogs">

	{% block content %}
	{% endblock content %}

</div>


</div>

{% include 'home/footer.html' %}
	
	<script>
		{% include 'home/home.js' %}
	</script>


</body>
</html>