<div id="testMenuBig" class="display-none">
	<p id="openMB" class="openCloseBM">
		<i onclick="closeMenuBig()" class="fas fa-bars"></i>
	</p>
	<ul class="testMenuUl">
		<li title="Главная страница">
			<i class="fas fa-home"></i>
			<p>Главная</p>
		</li>
		<li title="Блог">
			<i class="fas fa-newspaper"></i>
			<p>Блог</p>
		</li>
		<li title="Видеоблог">
			<i class="fas fa-video"></i>
			<p>Видеоблог</p>
		</li>
		<li title="История">
			<i class="fas fa-history"></i>
			<p>История</p>
		</li>
		<li title="Посмотреть позже">
			<i class="fas fa-clock"></i>
			<p>Посмотреть п...</p>
		</li>
		<li title="Софт">
			<i class="fab fa-chrome"></i>
			<p>Софт</p>
		</li>
		<li title="Форум">
			<i class="fas fa-comments"></i>
			<p>Форум</p>
		</li>
		<li title="Настройки">
			<i class="fas fa-cog"></i>
			<p>Настройки</p>
		</li>
	</ul>
</div>


<div id="testMenu">
	<p id="openMB" class="openCloseBM">
		<i onclick="openMenuBig()" class="fas fa-bars"></i>
	</p>
	<ul class="testMenuUl">
		<li title="Главная страница">
			<i class="fas fa-home"></i></li>
		<li title="Блог">
			<i class="fas fa-newspaper"></i></li>
		<li title="Видеоблог">
			<i class="fas fa-video"></i></li>
		<li title="История">
			<i class="fas fa-history"></i></li>
		<li title="Посмотреть позже">
			<i class="fas fa-clock"></i></li>
		<li title="Софт">
			<i class="fab fa-chrome"></i></li>
		<li title="Форум">
			<i class="fas fa-comments"></i></li>
		<li title="Настройки">
			<i class="fas fa-cog"></i></li>
	</ul>
</div>


<div id="menumobile">
	<div id="shapka">
		<p onclick="ok()" id="open"><i class="fas fa-bars"></i></p>
	</div>
	<div id="menumain" class="noneblock clmenumobopen">
		<div id="verx">
			<img src="img/1.png" alt="">
			<br>
			<p id="name">Aren Tv</p> <br>
		</div>
		<ul id="ul" class="ulMenuMobile">
	<li><i class="fas fa-home"></i>Главная</li>
	<li><i class="fas fa-newspaper"></i>Блог</li>
	<li><i class="fas fa-video"></i>Видеоблог</li>
	<li><i class="fas fa-history"></i>История</li>
	<li><i class="fas fa-clock"></i>Посмотреть позже</li>
	<li><i class="fab fa-chrome"></i>Софт</li>
	<li><i class="fas fa-comments"></i>Форум</li>
	<li><i class="fas fa-cog"></i>Настройки</li>
</ul>
	</div>
	</div>